.App{
    width: 40%; /* Largura de 40% */
    margin: 2em auto; /* Mergem de 2em em cima e embaixo e automático dos lados, isso centraliza o elemento*/
    background-color: #394049 ;
    border-radius: 5px ; /* borda arredondada */
    color: #fff; /* cor da fonte branca */
}

.todo-header{
    padding: 0.5em; /* espaçamento de 0.5 das bordas */
    border-bottom: 1px solid #2c3035; /* borda cinza escura embaixo do título */
    text-align: center;
}

.todo-header h1{
    margin: 0;
}